#sidebar {
    width: 250px;
    height: 100vh;
    overflow-y: auto; 
    background-color: #e0e0e0;
}

#profilePic {
    max-width: 100px !important;
}

.custom-btn {
    background-color: transparent; /* Make the background transparent */
    border: none; /* Remove border */
    padding: 0.75rem 1rem; /* Add padding */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.custom-btn:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Add a hover effect */
}

.bi {
    font-size: 1.5rem;
}

.transaction-item {
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}

.transaction-deposit {
    background-color: #e0f7e9; /* Light green background */
    color: #2e7d32; /* Dark green text */
}

.transaction-withdraw {
    background-color: #fdecea; /* Light red background */
    color: #c62828; /* Dark red text */
}

.transaction-transfer {
    background-color: #e3f2fd; /* Light blue background */
    color: #1565c0; /* Dark blue text */
}

.transaction-service-payment {
    background-color: #fff3e0; /* Light orange background */
    color: #ef6c00; /* Dark orange text */
}